.modalApostar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.tituloModalApostar {
    color: #0000cd;
    text-align: center;
    margin-top: 30px;
}

.modalApostar-content {
  background: white;
  margin: 10% auto;
  padding: 20px;
  width: 400px;
  border-radius: 8px;
}

.messageApostar {
  margin-top: 15px;
  color: green;
  text-align: center;
}

.btnApostar {
  width: 170px;
  background: red;   
  color: white;          
  padding: 10px 20px;    
  border: none;          
  border-radius: 8px;    
  cursor: pointer;       
}

.formApostar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}
