.modalListarApostas {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modalListarApostas-content {
  background: white;
  margin: 10% auto;
  padding: 20px;
  width: 400px;
  border-radius: 8px;
}

.tituloListarApostas {
  text-align: center;
  margin-top: 20px;
  color: #0000cd;
}

.messageNoResults {
  text-align: center;
  margin-top: 20px;
  color: #ff0000;
}
