<div id="modalEditarCadastro" class="modalEditarCadastro">
  <div id="modalEditarCadastro-content" class="modalEditarCadastro-content">
    <span id="closeModalEditarCadastro" class="closeModalEditarCadastro"
      >&times;</span
    >
    <h2 class="tituloEditarCadastro">Editar Cadastro</h2>
    <form id="formEditarCadastro">
      <div class="formEditarCadastro-content">
        <label>
          Nome:
          <input id="editarNome" type="text" name="nome" required />
        </label>

        <label>
          Email:
          <input
            id="editarEmail"
            type="email"
            name="email"
            placeholder="email@exemplo.com"
            required
          />
        </label>

        <label>
          Telefone:
          <input
            id="editarTelefone"
            type="tel"
            name="telefone"
            placeholder="(99)99999-9999"
            required
          />
        </label>
        <button type="button" id="cancel" class="btn-EditarCadastro">
          Cancelar
        </button>
        <button type="submit" class="btn-EditarCadastro">
          Salvar Alterações
        </button>
      </div>
    </form>

    <p id="messageEditarCadastro"></p>
  </div>
</div>
